<launch>

    <!-- Arguments -->
    <arg name="slam_methods" default="hector" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="open_rviz" default="true"/>
    <arg name="odom_from_cmdvel" default="true"/>

    <!-- <include file="$(find aunchan_slam)/launch/aunchan_pose_estimate.launch"/> -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
        args="0.0 0.0 0.0 0.0 0.0 0.0 odom base_ 64"/>
    <!-- AUNCHAN -->
    <!-- <include file="$(find aunchan_teleop)/launch/aunchan_teleop_joy.launch"/> -->
    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find aunchan_slam)/cfg/aunchan_$(arg slam_methods).rviz"/>
    </group>

    

    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration-->
    <include file="$(find aunchan_slam)/launch/aunchan_$(arg slam_methods).launch"/>

</launch>