<launch>
    <rosparam param="ticks_meter">4005</rosparam>

    <node pkg="aunchan_bringup" type="pid_velocity.py" name="lpid_velocity">
        <remap from="wheel" to="l_enc"/>
        <remap from="motor_cmd" to="l_pwm"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>
        <rosparam param="Kp">200</rosparam>
        <rosparam param="Ki">0</rosparam>
        <rosparam param="Kd">0</rosparam>
        <rosparam param="out_min">0</rosparam>
        <rosparam param="out_max">1000</rosparam>
        <rosparam param="rate">30</rosparam>
        <rosparam param="timeout_ticks">4</rosparam>
        <rosparam param="rolling_pts">5</rosparam>
    </node>
    <!-- <node pkg="differential_drive" type="pid_velocity.py" name="rpid_velocity">
        <remap from="wheel" to="rwheel"/>
        <remap from="motor_cmd" to="rmotor_cmd"/>
        <remap from="wheel_vtarget" to="rwheel_vtarget"/>
        <remap from="wheel_vel" to="rwheel_vel"/>
        <rosparam param="Kp">200</rosparam>
        <rosparam param="Ki">200</rosparam>
        <rosparam param="Kd">0</rosparam>
        <rosparam param="out_min">-255</rosparam>
        <rosparam param="out_max">255</rosparam>
        <rosparam param="rate">30</rosparam>
        <rosparam param="timeout_ticks">4</rosparam>
        <rosparam param="rolling_pts">5</rosparam>
    </node> -->
</launch>